lab5/4/employee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="people">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID" type="xs:string"/>
      <xs:element name="Title" type="xs:string"/>
      <xs:element name="Lastname" type="xs:string"/>
      <xs:element name="Firstname" type="xs:string"/>
      <xs:element name="JobTitle" type="xs:string"/>
      <xs:element name="Address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>